.form-text-input {
	border-radius: 50%;
	display: block;
	text-align: left;
	font-family: inherit;
	/* margin-left: 5rem; */
	/* padding: 0.3rem; */
	color: var(--secondary-color);
	/* line-height: 28px; */
}


.form-submit {
	background-color: #001689;
	border: none;
	color: #fff;
	padding: 15px 30px;
	text-decoration: none;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	float:right;
}

.form-column {
	margin-left:7rem;
	padding-top: 10px;
	padding-bottom:10px;
	width:60%;
}

.input {
	font-size: 16px;
	font-size: max(16px, 1em);
	font-family: inherit;
	color: var(--primary-color);
	padding: 0.25em 0.25em;
	background-color: #fff;
	border: 1px solid var(--tertiary-color);
	-webkit-border-radius: 8px;
	border-radius: 8px;
	width:50%;
}

.input:not(textarea) {
line-height: 30px;
height: 1.75rem;
float: right;
}

textarea.input {
	resize: vertical;
}

/* body {
display: flex;
} */

form-2 {
width: 30rem;
display: block;
margin: 3rem auto;
padding: 3rem;
/* border: 10px solid #999; */
}

label {
display: block;
transform: translate(0, -2.75rem);
}

input {
width: 100%;
margin-top: 1.5rem;
padding: 0.25rem;
border: none;
border-bottom: 2px solid #111;
transition: border-color 0.2s ease;
}

input:focus {
	outline: none;
	border-color: green;
}

button {
padding: 0.75rem 1.5rem;
border: 2px solid #111;
background-color: #111;
color: #fff;
font-weight: bold;
}


@supports (not (-ms-ime-align:auto)) {
	label {
	color: #999;
	transform: translate(0.25rem, -1.5rem);
	transition: all 0.2s ease-out;
	}
	
	input:not(:placeholder-shown) + label {
	color: #111;
	transform: translate(0, -2.75rem);
	}
}